@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String,namespace:String, webJarAssets: WebJarAssets)(implicit request: RequestHeader)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Projects management",webJarAssets: WebJarAssets) {
<div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-grid mdl-grid--no-spacing">
    <div id="header" class="main-content"></div>
    <div>
        <form action="/project/upload" class="dropzone">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>
</div>
<div class="main-content">
    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
        <table class="responstable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>myfile.sol</td>
                <td>remove</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="table" class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing"></div>
</div>
<script>
 var namespace = '@namespace';
</script>
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/project.js")'></script>
}
